/Firmware/malletg_chip3.X/build/
/Firmware/malletg_chip3.X/dist/
/Firmware/malletg_chip1.X/build/
/Firmware/malletg_chip1.X/dist/
/Firmware/malletg_chip4.X/build/
/Firmware/malletg_chip4.X/dist/
/Firmware/malletg_chip2.X/build/
/Firmware/malletg_chip2.X/dist/